body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
button {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 0 2px rgb(204, 202, 202);
    
}
.buttonclass {
    display: flex;
    justify-content: center;
}
.labelclass {
    display: flex;
    flex-direction: column;
   align-items: center;
}